.post-container {
  width: 35%; /* or any other desired percentage */
  margin: 0 auto; /* centers the elements horizontally */
}

#root {
  background-color: rgb(236, 235, 227);
}

.side-panel {
  position: fixed;
  top: 80px;
  left: 242px;
  bottom: 433px;
  width: 18%;
  border: 1px solid rgba(214, 97, 24, 0.945);
  background-color: rgba(197, 194, 156, 0.226);
  border-radius: 14px;
  padding: 1rem;
  scrollbar-width: thin !important;
  scrollbar-color: #ccc #fff;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.15);
  /* overflow-y: scroll; */
  
}

.right-side-panel::-webkit-scrollbar {
  width: 5px;
  
}

.right-side-panel::-webkit-scrollbar-track {
  background-color: transparent;
}

.right-side-panel::-webkit-scrollbar-thumb {
  background-color: rgb(210, 142, 54);
  border-radius: 16px;
  
}

.right-side-panel {
  position: fixed;
  top: 80px;
  right: 242px;
  bottom: 433px;
  width: 18%;
  border: 1px solid rgba(214, 97, 24, 0.945);
  background-color: rgba(197, 194, 156, 0.226);
  border-radius: 14px;
  padding: .5rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 4px rgba(14, 11, 11, 0.15);
  overflow-y: scroll;
}


.side-panel::-moz-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* .avatarPic {
  float: left;
  margin-right: 0.4%;
  margin-bottom: 7%;
  border-radius: 50%;
  height: 7vh;
  width: 4vw;
  object-fit: cover;
  border: 2px solid rgb(255, 166, 0);
}

.postBox {
 
  border: 1px solid rgba(214, 97, 24, 0.945);
  box-shadow: 3px 2px 2px grey;
  padding: .2%;
  border-radius: 5px;
  margin-bottom: 3%;
  width: 36%;
  display: flex;
  background-color: rgba(197, 194, 156, 0.226);
  grid-template-columns: 80px 1fr;
  /* justify-content: space-between; */
/* align-items: flex-start; */

/* } */
/* 
.author {
    position: absolute;
    left: 4.6%;
} */

/* .textBox {
  grid-column: 2 / 3;
  position: relative;
  margin-top: 4%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: left;
} */

/* .created {
  position: absolute;
  margin-left: 31.7%;
  border-right: 2%;
  padding: .01%;
  box-shadow: 1px 1px 1px rgba(216, 121, 13, 0.175);
  right: 5;
  font: caption;
  font-size: smaller;
  overflow: hidden;
  width: 4%; */
/* top: 0; */

/* } */

/* .replyArea {
    display: flex;
    align-items: flex-start;
    /* position: absolute; */
/* margin-top: 6.5%; */
/* margin-left: 4%; */
/* } */
.replyBubble {
  background-image: linear-gradient(
    to top,
    rgb(255, 166, 0),
    rgba(189, 28, 28, 0.771)
  );
  object-fit: contain;
  position: absolute;
  padding: 1px;
  width: 3.9%;
  height: 62% !important;
  border: 1px solid rgba(2, 117, 2, 0.363);
  margin-top: 4.3% !important;
  /* margin-bottom: 3.6%; */
  box-shadow: 1px 2px 3px 1px rgba(153, 95, 24, 0.531);
  margin-left: 7%;
  border-radius: 23%;
  background-color: rgb(255, 243, 240);
}

.emptyHeart {
  height: 20px;
  position: absolute;
  margin-left: 11%;
  margin-top: 4.6% !important;
}

.filledHeart {
  background-image: linear-gradient(
    to top,
    rgb(255, 166, 0),
    rgba(189, 28, 28, 0.771)
  );
  grid-column: 3 / 4;
  height: 21px;
  position: absolute;
  box-shadow: 1px 1px 6px 1px rgba(244, 24, 24, 0.664);
  padding: 0.4%;
  border-radius: 23%;
  margin-left: 11%;
  animation-name: jump;
  animation-duration: 0.3s;
}

.filledFave {
  background-image: linear-gradient(
    to top,
    rgb(255, 166, 0),
    rgba(189, 28, 28, 0.771)
  );
  grid-column: 4 / 5;
  margin: 23px 0px 0px 56px !important;
  width: 22px;
  height: 22px;
  position: absolute;
  box-shadow: 1px 1px 6px 1px rgba(244, 24, 24, 0.664);
  padding: 0.3%;
  border-radius: 23%;
  margin-left: 282%;
  margin-bottom: 500%;
  animation-name: jump;
  animation-duration: 0.3s;
}

.faveIcon {
  height: 26px;
  margin: 20px 0px 0px 56px !important;
  position: absolute;
  margin-left: 315%;
}

.replyBubble,
.emptyHeart,
.filledHeart,
.filledFave,
.faveIcon {
  position: relative; /*changes position to be relative to the nearest positioned ancestor */
  left: 0; /* sets the left position to 0 */
  right: 0; /* sets the right position to 0 */
  bottom: 0;
  margin-top: 4.5%;
}

.count {
  position: absolute;
  width: 46px;
  margin-left: 27%;
  margin-top: 4.3%;
  margin-right: -40px !important;
  z-index: 1;
}

.count:hover::before {
  content: attr(post-likes); /* Get the data-likes attribute as the content */
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 2;
}

.faveCount {
  position: absolute;
  width: 46px;
  margin-left: 42%;
  margin-top: 4.3% !important;
  margin-right: -2px !important;
  z-index: 1;
}

.replyContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  display: flex;
  position: absolute;
  margin-top: 4.4%;
  width: 28.4%;
  height: 3.9%;
  margin-left: 2%;
  border-radius: 50%;
}

/* .replyAvatar { */
/* border: 2px solid black;
    margin-top: 2px;
    position: inherit;    */

/* } */

/* .replyImg { */
/* float: left;
    border: 2px solid orange;
    margin-right: 10px;
    margin-bottom: 11px;
    border-radius: 50%;
    height: 5vh;
    width: auto; */
/* } */
.greeting {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
}

.postBox {
  display: flex;
  border: 1px solid rgba(214, 97, 24, 0.945);
  box-shadow: 3px 2px 2px grey;
  padding: 2%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  margin-bottom: 33px;
  background-color: rgba(197, 194, 156, 0.226);
}

.avatarPic {
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(255, 166, 0);
  width: 56px;
  height: 56px;
  margin-right: 10px;
}

.author {
  font-weight: bold;
  margin-bottom: 5px !important;
  margin-left: 9.5% !important;
  margin-top: -8% !important;
}

.panelText {
  font-size: 16px;
  border: 2px solid rgba(123, 148, 184, 0.517);
  padding: 3px;
  border-radius: 11px;
  background-color: rgba(128, 188, 211, 0.432);
  background-image: linear-gradient(
    to top,
    rgba(255, 166, 0, 0.414),
    rgba(189, 28, 28, 0.062)
  );
  max-height: 120px;
  overflow: auto;
}

.panelText::-webkit-scrollbar {
  width: 8px;
}

.panelTitle {
  position: absolute;
  margin-top: 54px;
  font-style: italic;
  color: rgba(104, 42, 3, 0.966);
}

.followPics {
  position: relative;
  border-radius: 50%;
  width: 41px !important;
  height: 33px !important;
  overflow: auto;
  border: 2px solid orange;
  margin-right: 5px;
}

.followTag {
  font-style: italic;
  font-size: 14px;
  display: inline-block;
  padding: 1px 5px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #86c0e6;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
}

.follow {
  position: absolute;
  right: 623px;
  border-radius: 10px;
  margin-top: -18px;
  height: 26px;
  padding: 4px;
  transition: transform 0.2s ease-in-out;
}

.follow:hover {
  transform: translateY(-2px);
  background-color: rgba(255, 174, 0, 0.253);
}

.created {
  font-size: 12px;
  color: gray;
  margin-left: auto;
  margin-top: -4%;
}

.textBox {
  margin-top: 10px;
  margin-bottom: 44px;
  margin-left: 9.5%;
  word-wrap: break-word;
}

.send-button {
  background-color: transparent;
  border: none;
  color: rgb(151, 33, 33);
  font-size: 4.2em;
  margin-left: 48%;
  cursor: pointer;
}

.send-button:before {
  content: "";
  width: 18px;
  right: -10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgb(238, 164, 16);
  display: inline-block;
  margin-right: 8px;
  transform: rotate(270deg);
}

.divider {
  position: absolute;
  display: flex;
  width: 100%;
  border-top: 1.5px solid rgb(179, 114, 67);
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.createdAt {
  font-size: 10px;
  color: gray;
  margin-left: auto;
  margin-top: -2%;
}

.replyArea {
  display: flex;
  align-items: center;
  margin-top: 8%;
  margin-left: 60px;
  padding: 1%;
  border-radius: 4%;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.62);
  background-color: rgba(212, 95, 27, 0.075);
}

.like-btn {
  border-radius: 10px;
  background-color: rgba(151, 33, 33, 0.774);
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 500;
  border: none;
  margin-top: -30px;
  margin-right: -40px;
}

.thumbsUp {
  position: absolute;
  background-image: linear-gradient(
    to top,
    rgb(255, 166, 0),
    rgba(189, 28, 28, 0.771)
  );
  border-radius: 50%;
  width: 20px;
  margin-top: 12px;
  margin-left: 4px;
  animation-name: jump;
  animation-duration: 0.3s;
}

@keyframes jump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}

.thumbsUp:hover::before {
  content: attr(data-likes); /* Get the data-likes attribute as the content */
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 2;
}

.reply-btn {
  border-radius: 10px;

  background-color: rgba(0, 128, 0, 0.555);
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 500;
  border: none;
  margin-top: 20px;
}

.like-btn:hover,
.reply-btn:hover {
  transform: translateY(-2px);
  box-shadow: 1px 2px 5px 1px rgba(237, 130, 23, 0.517);
}

.hidden {
  display: none;
}

.daName {
  margin-right: 2%;
}

.replyAvatar {
  position: absolute;
  border-radius: 50%;
  width: 41px !important;
  height: 33px !important;
  margin-right: 4%;
  display: flex;
  align-items: center;
}

.replyImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -130%;
  position: relative;
  border-right: 1px solid rgb(128, 17, 17);
  box-shadow: -2px 1px 5px 2px rgba(0, 0, 0, 0.236);
}

.dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #555;
  margin-right: 8px;
  margin-left: 3%;
}

textarea {
  resize: none;
  width: 82%;
  position: absolute;
  margin-top: 8.8%;
  margin-left: 11%;
  border-radius: 7%;
}

.hide {
  display: none;
}

.show {
  display: block;
  background-color: rgba(255, 162, 0, 0.147);
}

.bouncing {
  animation: bounce 0.1s ease-in-out;
  object-fit: cover;
  position: relative;
  width: 3.4%;
  height: 20.5%;
  border: 1px solid rgba(2, 117, 2, 0.363);
  margin-top: 4.5%;
  box-shadow: 1px 2px 3px 1px rgb(153, 95, 24);
  margin-left: 8%;
  border-radius: 50%;
  background-color: rgb(255, 243, 240);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(5);
  }
}

/* Media query for cellphone screen */

@media only screen and (max-width: 720px) {
  .postBox {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .avatarPic {
    width: 30%;
    height: 30%;
    margin-right: 5%;
  }

  .author {
    font-size: 1.2rem;
  }

  .created {
    font-size: 0.8rem;
  }

  .textBox {
    font-size: 1rem;
  }

  .replyContainer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .replyBubble {
    width: 5%;
    height: 5%;
  }

  .show {
    width: 80%;
    margin: 0 auto;
  }

  .send-button {
    width: 20%;
    font-size: 0.8rem;
  }

  .replyArea {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8rem;
  }

  .replyImg {
    width: 20%;
    height: 20%;
  }

  .replyAvatar {
    width: 20%;
    margin-right: 5%;
  }
}
