
.brand {
    
    font-family: 'Rubik Microbe', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid rgb(230, 99, 11);
    border-radius: 7px;
    padding: 1px;
    word-spacing: 2px;
}

.dashIcon {
  content: "Profile";
  visibility: visible;
  padding: 1px;
  font-size: 12px;
  height: 5vh;
  width: 111%;
  border: 2px solid rgb(147, 5, 5);
  margin-left: 3px;
  position: right;
  border-radius: 50%;
  object-fit: cover;
  background: #fff;
  transition: all 0.2s ease;
}

.timeIcon {
  content: "Timeline";
  visibility: visible;
  padding: 1px;
  font-size: 12px;
  height: 5vh;
  width: 111%;
  border: 2px solid rgb(147, 5, 5);
  margin-left: 3px;
  position: right;
  border-radius: 50%;
  object-fit: cover;
  background: #fff;
  transition: all 0.2s ease;
}

.me-auto1 {
  position: absolute;
  right: 7%;
}

.link {
    color: rgb(255, 255, 255) !important;
    position: absolute;
    right: 10px;
    top: 10px;
}

.navColor{
    background-color: rgb(255, 166, 0) !important;;
}

.sizzling-text {
    /* Add a font style and color to the text */
    font-family: 'Rubik Microbe', cursive;
    color: rgb(222, 31, 31) !important;
  
    /* Add a text-shadow effect to give the text a fiery appearance */
    text-shadow: 0 0 10px rgba(255, 55, 0, 0.257), 0 0 20px rgba(255, 68, 0, 0.291), 0 0 30px rgba(255, 0, 0, 0.36), 0 0 40px rgba(255, 0, 0, 0.253), 0 0 50px rgb(255, 0, 0), 0 0 60px #ff0, 0 0 70px #ff0, 0 0 80px #ff0, 0 0 90px #ff0, 0 0 100px rgb(255, 0, 0);
  
    /* Add a transition effect to smoothly animate the color change */
    transition: color 0.9s ease;
  
    /* Add a filter effect to give the text a cooking appearance */
    filter: brightness(50%) hue-rotate(11deg) saturate(150%);
  }
  
  /* Use the :hover pseudo-class to change the text color when the mouse hovers over it */
  .sizzling-text:hover {
    color: #ff0000;
  }

  @media only screen and (min-width: 1080px) and (min-height: 2340px) {
    /* Add your styles here */
    /* .link,
    .options,
    .dropdown {
        display: none;
    } */
  }