
.brand {
    color: rgb(247, 40, 40) !important;
    font-family: 'Rubik Microbe', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid rgb(230, 99, 11);
    border-radius: 7px;
    padding: 1px;
    word-spacing: 2px;
}

.link {
    color: rgb(255, 255, 255) !important;
}

.navColor{
    background-color: rgb(255, 166, 0) !important;;
}